{% extends "base.html" -%}

{%- block body %}
<h1>Asyncio IIIF</h1>
<p>
An experiment following my <a href="https://github.com/greut/iiif">iiif</a> project built around Tomás' <a href="http://github.com/h2non/bimg">bimg</a>. It also relies on the amazing John Cupitt's <a href="https://jcupitt.github.io/libvips/">libvips</a> but using Python rather than Go.
</p>
<h2>Examples</h2>
<ul>
    <li><a href="/leaflet/index.html">Leaflet-iiif</a> (<a href="https://github.com/mejackreed/Leaflet-IIIF">github</a>)
</ul>
{% endblock -%}
