[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvips = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
"aiohttp-jinja2" = "*"

[dev-packages]
"flake8" = "*"
"flake8-isort" = "*"

[requires]
python_version = "3.6"
